{{- /*
GitHub user.

@param {string} (positional parameter 0) User name on GitHub.

@returns {template.HTML}

@examples

  {{< gh-user "octocat" >}}
*/ -}}

{{- if (.Get 0) -}}

    {{ $users := (split (.Get 0) "|") }}
    {{ $api := (site.Params.api) }}
    {{ $ts := (now.Unix) }}
    {{ $headers := (dict
    "User-Agent" ($api.user_agent)
    "Authorization" (printf "Bearer %s" (($api.github.token) | base64Decode))
    ) }}

    <div class="shortcode shortcode-{{ ($.Name) }} mb-3">
      <div class="row row-cols-1 row-cols-lg-2 g-3">
          {{ range ($users) }}
              {{ $user := (getJSON ($api.github.url) "/users/" . "?ts=" ($ts) ($headers)) }}
              <div class="col">
                <div class="card">
                  <div class="row g-0">
                      {{ if ($user.avatar_url) }}
                        <div class="col-md-4 p-1">
                          <a class="d-block" href="{{ ($user.html_url) }}" target="_blank" rel="noopener nofollow">
                            <img class="card-img"
                                 src="{{ ($user.avatar_url) }}"
                                 alt="{{ (($user.name) | default ($user.login)) }}" loading="lazy"/>
                          </a>
                        </div>
                      {{ end }}
                    <div class="col">
                      <div class="card-body h-100">
                        <div class="d-flex flex-column h-100">
                          <div class="flex-shrink-0">
                            <h5 class="card-title">
                              <a href="{{ ($user.html_url) }}" target="_blank" rel="noopener nofollow">
                                  {{ (($user.name) | default ($user.login)) }}
                              </a>
                            </h5>
                              {{ if ($user.bio) }}
                                <p class="card-text">{{ (($user.bio) | plainify) }}</p>
                              {{ end }}
                          </div>
                          <div class="mt-auto">
                            <div class="row row-cols-auto g-2 mt-3">
                              <div class="col" data-bs-tooltip data-bs-title='{{ (i18n "sc.github.user.repos") }}'>
                                <a class="btn btn-light btn-sm text-body-secondary" href="{{ ($user.html_url) }}?tab=repositories"
                                   target="_blank" rel="noopener nofollow"
                                   role="button" aria-label='{{ (i18n "sc.github.user.repos") }}'>
                                  <i class="fas fa-book fa-fw me-1"></i>
                                    {{ ($user.public_repos) }}
                                </a>
                              </div>
                              <div class="col" data-bs-tooltip data-bs-title='{{ (i18n "sc.github.user.followers") }}'>
                                <a class="btn btn-light btn-sm text-body-secondary" href="{{ ($user.html_url) }}?tab=followers"
                                   target="_blank" rel="noopener nofollow"
                                   role="button" aria-label='{{ (i18n "sc.github.user.followers") }}'>
                                  <i class="fas fa-user-friends fa-fw me-1"></i>
                                    {{ ($user.followers) }}
                                </a>
                              </div>
                              <div class="col" data-bs-tooltip data-bs-title='{{ (i18n "sc.github.user.following") }}'>
                                <a class="btn btn-light btn-sm text-body-secondary" href="{{ ($user.html_url) }}?tab=following"
                                   target="_blank" rel="noopener nofollow"
                                   role="button" aria-label='{{ (i18n "sc.github.user.following") }}'>
                                  <i class="fas fa-user-check fa-fw me-1"></i>
                                    {{ ($user.following) }}
                                </a>
                              </div>
                                {{ if ($user.blog) }}
                                  <div class="col" data-bs-tooltip data-bs-title='{{ (i18n "sc.github.org.blog") }}'>
                                      {{ $url := (urls.Parse ($user.blog)) }}{{ $scheme := "http://" }}
                                      {{ if ($url.Scheme) }}{{ $scheme = "" }}{{ end }}
                                    <a class="btn btn-light btn-sm text-body-secondary" href="{{ ($scheme) }}{{ ($user.blog) }}"
                                       target="_blank" rel="noopener nofollow"
                                       role="button" aria-label='{{ (i18n "sc.github.org.blog") }}'>
                                      <i class="fas fa-globe fa-fw"></i>
                                    </a>
                                  </div>
                                {{ end }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {{ end }}
      </div>
    </div>

{{- else -}}

    {{ (partial "alerts/no_params" .) }}

{{- end -}}
