{{ with (.names) }}
  <div class="card mb-3">
    <div class="card-header h5 fs-5">{{ (i18n "sc.api.organization.title.organization") }}</div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
          {{ range . }}
            <div class="col">
                {{ (.type) }}
            </div>
            <div class="col">
                {{ (partial "input-group" (dict
                "p" (.icon)
                "v" (.name)
                )) }}
            </div>
          {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ with (.addresses) }}
  <div class="card mb-3">
    <div class="card-header h5 fs-5">
        {{ (i18n "sc.api.organization.title.addresses") }}
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
          {{ range . }}
            <div class="col">
                {{ (.name) }}
            </div>
            <div class="col">
                {{ (partial "input-group" (dict
                "p" (.icon)
                "v" (.address)
                "q" (.address)
                )) }}
            </div>
          {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ with (.codes) }}
  <div class="card mb-3">
    <div class="card-header h5 fs-5">
        {{ (i18n "sc.api.organization.title.codes") }}
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
          {{ range . }}
            <div class="col">
                {{ (.name) }}
            </div>
            <div class="col">
                {{ (partial "input-group" (dict
                "p" (.icon)
                "v" (.code)
                "q" (.code)
                )) }}
            </div>
          {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ with (.banks) }}
  <div class="card mb-3">
    <div class="card-header h5 fs-5">
        {{ (i18n "sc.api.organization.title.banks") }}
    </div>
    <div class="card-body">
      <div class="row row-cols-1 g-3 align-items-center">
          {{ range . }}
            <div class="col">
              <div class="card">
                <div class="card-header h5 fs-5">{{ (.name) }}</div>
                <div class="card-body">
                  <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
                    <div class="col">
                        {{ (i18n "sc.api.organization.bank.name") }}
                    </div>
                    <div class="col">
                        {{ (partial "input-group" (dict
                        "p" (.icon)
                        "v" (.name)
                        )) }}
                    </div>
                    <div class="col">
                        {{ (i18n "sc.api.organization.bank.bic") }}
                    </div>
                    <div class="col">
                        {{ (partial "input-group" (dict
                        "p" (.icon)
                        "v" (.bic)
                        "q" (.bic)
                        )) }}
                    </div>
                      {{ with .account }}
                        <div class="col">
                            {{ (i18n "sc.api.organization.bank.account.current") }}
                        </div>
                        <div class="col">
                            {{ (partial "input-group" (dict
                            "p" (.icon)
                            "v" (.current)
                            "q" (.current)
                            )) }}
                        </div>
                        <div class="col">
                            {{ (i18n "sc.api.organization.bank.account.correspondent") }}
                        </div>
                        <div class="col">
                            {{ (partial "input-group" (dict
                            "p" (.icon)
                            "v" (.correspondent)
                            "q" (.current)
                            )) }}
                        </div>
                      {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ with (.contacts) }}
  <div class="card mb-3">
    <div class="card-header h5 fs-5">
        {{ (i18n "sc.api.organization.title.contacts") }}
    </div>
    <div class="card-body">
      <div class="row row-cols-1 g-3 align-items-center">
          {{ with (.emails) }}
            <div class="col">
              <div class="card">
                <div class="card-header h5 fs-5">
                    {{ (i18n "sc.api.organization.title.email") }}
                </div>
                <div class="card-body">
                  <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
                      {{ range . }}
                        <div class="col">
                            {{ .name }}
                        </div>
                        <div class="col">
                            {{ (partial "input-group" (dict
                            "p" (.icon)
                            "v" (.address)
                            "q" (.address)
                            )) }}
                        </div>
                      {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
          {{ with (.phones) }}
            <div class="col">
              <div class="card">
                <div class="card-header h5 fs-5">
                    {{ (i18n "sc.api.organization.title.phones") }}
                </div>
                <div class="card-body">
                  <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
                      {{ range . }}
                        <div class="col">
                            {{ .name }}
                        </div>
                        <div class="col">
                            {{ (partial "input-group" (dict
                            "p" (.icon)
                            "v" (partial "phone" (dict "v" .number))
                            "q" (.number)
                            )) }}
                        </div>
                      {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
          {{ with (.sites) }}
            <div class="col">
              <div class="card">
                <div class="card-header h5 fs-5">
                    {{ (i18n "sc.api.organization.title.sites") }}
                </div>
                <div class="card-body">
                  <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
                      {{ range . }}
                        <div class="col">
                            {{ .name }}
                        </div>
                        <div class="col">
                            {{ (partial "input-group" (dict
                            "p" (.icon)
                            "v" (.url)
                            "q" (.url)
                            )) }}
                        </div>
                      {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
          {{ with (.staff) }}
            <div class="col">
              <div class="card">
                <div class="card-header h5 fs-5">
                    {{ (i18n "sc.api.organization.title.staff") }}
                </div>
                <div class="card-body">
                  <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
                      {{ range . }}
                        <div class="col">
                            {{ .position }}
                        </div>
                        <div class="col">
                            {{ (partial "input-group" (dict
                            "p" (.icon)
                            "v" (.name)
                            )) }}
                        </div>
                      {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
      </div>
    </div>
  </div>
{{ end }}

