{{ $p := ((.p) | default "fas fa-hashtag") }}
{{ $v := (.v) }}
{{ $s := (.s) }}
{{ $q := (.q) }}
{{ $t := ((.t) | default ($v)) }}
{{ $id := (printf "id-%s" ((delimit (shuffle (seq 11 99)) "") | md5)) }}

<div class="input-group">
    {{ with ($p) }}<span class="input-group-text"><i class="{{ ($p) }} fa-fw"></i></span>{{ end }}
  <input type="text" id="input-{{ ($id) }}" class="form-control" name="input-{{ ($id) }}" value="{{ ($v) }}"
         data-fn="select-all" aria-label="{{ ($v) }}" readonly/>
    {{ with ($s) }}<span class="input-group-text">{{ ($s) }}</span>{{ end }}
    {{ with ($q) }}
    {{ if strings.Contains . "http" }}
    <a class="btn btn-primary" href="{{ . }}" target="_blank"><i class="fas fa-arrow-up-right-from-square fa-fw"></i></a>
    {{ else if (findRE `^(([a-zA-Z0-9._%+-]+)@([a-zA-Z0-9.-]+\.[a-zA-Z]{2,}))$` .) }}
    <a class="btn btn-primary" href="mailto:{{ . }}"><i class="fas fa-envelope-open-text fa-fw"></i></a>
    {{ else if (findRE `^((\+\d{1,3})(\d{6,14}))$` .) }}
    <a class="btn btn-primary" href="tel:{{ . }}"><i class="fas fa-phone-volume fa-fw"></i></a>
      {{ else }}
      <button class="btn btn-primary" type="button"
              data-bs-toggle="modal" data-bs-target="#{{ ($id) }}"><i class="fas fa-qrcode fa-fw"></i></button>
        {{ end }}
    {{ end }}
</div>

{{ with ($q) }}
  <div class="modal fade" id="{{ ($id) }}" tabindex="-1" role="dialog"
       aria-labelledby="{{ ($id) }}-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow">
        <div class="modal-header">
          <div class="modal-title h5 fs-5 text-truncate" id="{{ ($id) }}-label">{{ ($t) }}</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label='{{ (i18n "close") }}'></button>
        </div>
        <div class="modal-body">
          {{ (partial "qrcode" (dict "t" ($q))) }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
