{{ $id := (.id) }}
{{ $title := (.title) }}
{{ $content := (.content) }}

<div class="modal fade" id="{{ ($id) }}-modal" tabindex="-1" role="dialog"
     aria-labelledby="{{ ($id) }}-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content shadow">
      <div class="modal-header">
        <div class="modal-title h5 fs-5 text-truncate" id="{{ ($id) }}-modal-label">{{ ($title) }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label='{{ (i18n "close") }}'></button>
      </div>
      <div class="modal-body">
          {{ with ($content) }}{{ . | markdownify }}{{ end }}
      </div>
    </div>
  </div>
</div>
