{{ if (.IsNamedParams) }}

    {{ $url := (.Get "url") }}
    {{ $requisites := (split (.Get "data") ",") }}

    {{ $data := (resources.GetRemote ($url)) }}
    {{ $data = (($data) | transform.Unmarshal) }}

    {{ with ($data) }}
        {{ if (in ($requisites) "bank") }}
            {{ with (.bank) }}
                {{ range (.account) }}
                    {{ range $key, $value := . }}
                      <div class="card mb-3">
                        <div class="card-header h5 fs-5">
                            {{ (i18n (printf "sc.requisites.bank.account.%s.title" ($key))) }} ({{ (($key) | upper) }})
                        </div>
                        <div class="card-body">
                          <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
                              {{ with (.beneficiary) }}
                                  {{ with (.name) }}
                                      {{ (partial "requisites-bank" (dict "icon" "user" "value" . "i18n" (printf "%s.beneficiary_name" ($key)))) }}
                                  {{ end }}
                                  {{ with (.account) }}
                                      {{ (partial "requisites-bank" (dict "icon" "wallet" "value" . "i18n" (printf "%s.beneficiary_account" ($key)))) }}
                                  {{ end }}
                                  {{ with (.bank) }}
                                      {{ (partial "requisites-bank" (dict "icon" "university" "value" . "i18n" (printf "%s.beneficiary_bank" ($key)))) }}
                                  {{ end }}
                                  {{ with (.swift) }}
                                      {{ (partial "requisites-bank" (dict "icon" "hashtag" "value" . "i18n" (printf "%s.beneficiary_swift" ($key)))) }}
                                  {{ end }}
                              {{ end }}
                              {{ with (.correspondent) }}
                                  {{ with (.bank) }}
                                      {{ (partial "requisites-bank" (dict "icon" "university" "value" . "i18n" (printf "%s.correspondent_bank" ($key)))) }}
                                  {{ end }}
                                  {{ with (.swift) }}
                                      {{ (partial "requisites-bank" (dict "icon" "hashtag" "value" . "i18n" (printf "%s.correspondent_swift" ($key)))) }}
                                  {{ end }}
                              {{ end }}
                              {{ with (.bic) }}
                                  {{ (partial "requisites-bank" (dict "icon" "hashtag" "value" . "i18n" (printf "%s.bic" ($key)))) }}
                              {{ end }}
                              {{ with (.inn) }}
                                  {{ (partial "requisites-bank" (dict "icon" "hashtag" "value" . "i18n" (printf "%s.inn" ($key)))) }}
                              {{ end }}
                              {{ with (.kpp) }}
                                  {{ (partial "requisites-bank" (dict "icon" "hashtag" "value" . "i18n" (printf "%s.kpp" ($key)))) }}
                              {{ end }}
                              {{ with (.correspondent.account) }}
                                  {{ (partial "requisites-bank" (dict "icon" "wallet" "value" . "i18n" (printf "%s.correspondent_account" ($key)))) }}
                              {{ end }}
                              {{ with (.target) }}
                                  {{ (partial "requisites-bank" (dict "icon" "paper-plane" "value" . "i18n" (printf "%s.target" ($key)))) }}
                              {{ end }}
                          </div>
                        </div>
                      </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if (in ($requisites) "card") }}
          <div class="card mb-3">
            <div class="card-header h5 fs-5">{{ (i18n "sc.requisites.card") }}</div>
            <div class="card-body">
              <div class="row row-cols-1 row-cols-lg-3 g-3 align-items-center">
                  {{ range (.card) }}
                      {{ (partial "requisites-card" (dict "bank" (.bank) "number" (.number) "currency" (.currency))) }}
                  {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
        {{ if (in ($requisites) "crypto") }}
          <div class="card mb-3">
            <div class="card-header h5 fs-5">{{ (i18n "sc.requisites.crypto") }}</div>
            <div class="card-body">
              <div class="row row-cols-1 row-cols-lg-3 g-3 align-items-center">
                  {{ range (.crypto) }}
                      {{ (partial "requisites-crypto" (dict "network" (.network) "address" (.address) "currency" (.currency))) }}
                  {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
    {{ end }}

{{ else }}

    {{ (partial "alerts/no_params" .) }}

{{ end }}
