{{ $network := (.network) }}
{{ $address := (.address) }}
{{ $currency := (.currency) }}

<div class="card">
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 g-3">
      <div class="col-md-4">
          {{ (partial "component/qrcode" (dict "t" ($address))) }}
      </div>
      <div class="col-md-8">
        <div class="row row-cols-1 g-3">
          <div class="col">
              {{ (partial "component/input-group" (dict "p" "fas fa-wallet" "v" ($address) "s" ($currency))) }}
          </div>
          <div class="col">
              {{ (partial "component/input-group" (dict "p" "fas fa-globe" "v" ($network))) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
