{{ $network := (.network) }}
{{ $address := (.address) }}
{{ $currency := (.currency) }}

<div class="col">
  <div class="card">
    <div class="card-body">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 g-3">
        <div class="col-md-4">
          <div class="d-flex justify-content-center justify-content-md-start justify-content-lg-center">
            <div data-fn="qrcode" data-qr-text="{{ ($address) }}"></div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row row-cols-1 g-3">
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-wallet fa-fw"></i></span>
                <input class="form-control" type="text" value="{{ ($address) }}"
                       data-fn="select-all" aria-label="{{ ($currency) }}" readonly/>
                <span class="input-group-text">{{ (($currency) | upper) }}</span>
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-globe fa-fw"></i></span>
                <input class="form-control" type="text" value="{{ ($network) }}"
                       data-fn="select-all" aria-label="{{ ($network) }}" readonly/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
