{{ if (.Get 0) }}

    {{ $domain := (.Get 0) }}
    {{ $lang := (.Get 1) }}
    {{ $path := (.Get 2) }}
    {{ $data := (resources.GetRemote (urls.JoinPath "https://" ($domain) ($lang) ($path) "/index.json")) }}
    {{ $data = (($data) | transform.Unmarshal) }}

    <div class="shortcode shortcode-{{ ($.Name) }} mb-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title h2 fs-5">
            <a href="{{ ($data.page.url) }}" target="_blank">{{ ($data.page.title) }}</a>
          </div>
          <p class="card-text">
              {{ (($data.page.description) | base64Decode) }}
          </p>
        </div>
        <div class="card-footer">
          <div class="row row-cols-1 row-cols-lg-2">
            <div class="col text-center text-lg-start">
              <ul class="list-inline small text-body-secondary m-0">
                  {{ range $k, $v := ($data.page.authors) }}
                      {{ if ($k) }}
                        <li class="list-inline-item">&bull;</li>
                      {{ end }}
                      <li class="list-inline-item">
                        <a class="link-secondary" href="{{ (.url) }}" target="_blank">{{ (.name) }}</a>
                      </li>
                  {{ end }}
              </ul>
            </div>
            <div class="col text-center text-lg-end">
              <ul class="list-inline small text-body-secondary m-0">
                <li class="list-inline-item">
                  <time datetime="{{ ($data.page.date.published) }}"
                        data-fn="date-local">{{ ($data.page.date.published) }}</time>
                </li>
                <li class="list-inline-item">&bull;</li>
                <li class="list-inline-item">
                  <a class="link-secondary" href="{{ ($data.site.url) }}" target="_blank">{{ ($data.site.title) }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

{{ else }}

    {{ (partial "alerts/no_params" .) }}

{{ end }}
