{{ if (and (.Get 0) (.Get 1)) }}

    {{ $currency := (.Get 0) }}
    {{ $address := (.Get 1) }}
    {{ $id := (printf "id-%s" ((delimit (shuffle (seq 11 99)) "") | md5)) }}

    <div class="shortcode shortcode-{{ ($.Name) }} mb-3">
        {{ (partial "input-group" (dict
        "p" "fas fa-wallet"
        "v" ($address)
        "s" (($currency) | upper)
        "q" ($address)
        "t" (($currency) | upper)
        ))}}
    </div>

{{ else }}

    {{ (partial "alert-params" .) }}

{{ end }}
