{{- /*
DESCRIPTION:
  Notes in article.

SYNTAX:
  {{<alert "[tip|important|warning|info]">}}
    ALERT_TEXT
  {{</alert>}}

EXAMPLE:
  {{<alert "tip">}}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in egestas lacus, sed faucibus augue.
  {{</alert>}}
*/ -}}

{{ $type := (.Get 0) }}

{{ $icon := "fas fa-sticky-note" }}
{{ $class := "primary" }}

{{ if (eq ($type) "tip") }}
    {{ $icon = "fas fa-lightbulb" }}
    {{ $class = "success" }}
{{ end }}

{{ if (eq ($type) "important") }}
    {{ $icon = "fas fa-exclamation-triangle" }}
    {{ $class = "warning" }}
{{ end }}

{{ if (eq ($type) "warning") }}
    {{ $icon = "fas fa-circle-radiation" }}
    {{ $class = "danger" }}
{{ end }}

{{ if (eq ($type) "info") }}
    {{ $icon = "fas fa-info" }}
    {{ $class = "info" }}
{{ end }}

<div class="shortcode shortcode-{{ ($.Name) }}">
  <div class="alert alert-{{ ($class) }} d-flex overflow-hidden" role="alert">
    <div class="flex-shrink-0 align-self-center">
      <i class="{{ ($icon) }} fa-fw fa-2x"></i>
    </div>
    <div class="flex-grow-1 ms-3 overflow-hidden">
        {{ with (.Inner) }}{{ (. | $.Page.RenderString (dict "display" "block")) }}{{ end }}
    </div>
  </div>
</div>
