{{- /*
Code block with syntax highlighting.

@param {string} (positional parameter 0) Syntax highlighting.

@returns {template.HTML}

@examples

  {{< code >}}
  make && make install && make basic-pbx && make config && ldconfig
  {{< /code >}}

  {{< code "bash" >}}
  make && make install && make basic-pbx && make config && ldconfig
  {{< /code >}}
*/ -}}

{{ $lang := (.Get 0) }}
{{ $cp := ((printf "clipboard-%s" (delimit (shuffle (seq 11 99)) "")) | md5) }}

<div class="shortcode mb-3 shortcode-codeblock shortcode-codeblock-{{ (.Ordinal) }} {{ with ($lang) }}shortcode-codeblock-{{ . }}{{ end }}">
  <div class="d-flex overflow-hidden">
    <div class="flex-grow-1 rounded overflow-hidden" id="cp-{{ ($cp) }}">
        {{ if ($lang) }}{{ $lang = (printf "class='language-%s'" ($lang)) }}{{ end }}
      <pre><code {{ (($lang) | safeHTMLAttr) }}>{{ (trim (.Inner) "\n\r") }}</code></pre>
    </div>
    <div class="flex-shrink-0">
      <ul class="list-inline mb-0">
        <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "copy") }}'>
          <a class="text-body" href="#"
             data-fn="clipboard preventDefault" data-clipboard-target="#cp-{{ ($cp) }}"
             role="button" aria-label='{{ (i18n "copy") }}'>
            <i class="fas fa-copy fa-fw"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
