{{- /*
Including file contents in article. If no syntax highlighting language is specified,
the syntax highlighting language from the file extension will be automatically selected.

@param {string} (positional parameter 0) File path.
@param {string} (positional parameter 1) Syntax highlighting. If not specified, the syntax is determined by the file extension.

@returns {template.HTML}

@examples

  {{< file "README.md" "md" >}}
*/ -}}

{{- if (.Get 0) -}}

    {{ $file := (.Get 0) }}
    {{ $lang := ((.Get 1) | default "text") }}
    {{ $opts := (.Get 2) }}

    {{ with ($.Page.Resources.Match ($file)) }}
        {{ range . }}
            {{ $uid := ((printf "uid-%s-%s" ($.Name) (delimit (shuffle (seq 11 99)) "")) | md5) }}
            <div class="shortcode shortcode-{{ ($.Name) }} mb-3">
              <div class="card overflow-hidden" data-bs-theme="dark">
                <div class="card-header">
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <i class="far fa-file-code fa-fw"></i>
                    </div>
                    <div class="flex-grow-1 mx-2 text-truncate">
                      <code title="{{ (.Name) }}">{{ (.Name) }}</code>
                    </div>
                    <div class="flex-shrink-0">
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                          <a class="d-block text-body collapsed" href="#"
                             data-bs-toggle="collapse" data-bs-target="#collapse-{{ ($uid) }}"
                             aria-expanded="false" aria-controls="collapse-{{ ($uid) }}" role="button">
                            <i class="fas fa-expand fa-fw d-block"
                               title='{{ (i18n "sc.file.expand") }}'></i>
                            <i class="fas fa-compress fa-fw d-block"
                               title='{{ (i18n "sc.file.collapse") }}'></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="d-block text-body" href="#"
                             data-fn="clipboard" data-clipboard-target="#cp-{{ ($uid) }}"
                             aria-label='{{ (i18n "sc.file.copy") }}' role="button">
                            <i class="fas fa-copy fa-fw d-block"
                               title='{{ (i18n "sc.file.copy") }}'></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="d-block text-body" href="{{ (.RelPermalink) }}"
                             aria-label='{{ (i18n "sc.file.download") }}' role="button" download>
                            <i class="fas fa-download fa-fw d-block"
                               title='{{ (i18n "sc.file.download") }}'></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="d-block text-body" href="{{ (.RelPermalink) }}"
                             aria-label='{{ (i18n "sc.file.link") }}' target="_blank" role="button">
                            <i class="fas fa-arrow-up-right-from-square fa-fw d-block"
                               title='{{ (i18n "sc.file.link") }}'></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="collapse" id="collapse-{{ ($uid) }}">
                  <div class="card-body p-0 overflow-auto" id="cp-{{ ($uid) }}">
                      {{ (highlight ((.Content) | chomp) ($lang) ($opts)) }}
                  </div>
                </div>
              </div>
            </div>
        {{ end }}
    {{ end }}

{{- else -}}

    {{ (partial "alerts/no_params" .) }}

{{- end -}}
