{{- /*
DESCRIPTION:
  Including file contents in article.
  If no syntax highlighting language is specified,
  the syntax highlighting language from the file extension will be automatically selected.

SYNTAX:
  {{<file "FILE_PATH" "LANG">}}

EXAMPLE:
  {{<file "README.md" "md">}}
*/ -}}

{{- if (.Get 0) -}}

    {{ $file := (.Get 0) }}
    {{ $lang := (.Get 1) }}

    {{ $cp := (printf "clipboard-%s" ((delimit (shuffle (seq 11 99)) "") | md5)) }}

    <div class="shortcode shortcode-{{ ($.Name) }} mb-3">
      <div class="card overflow-hidden">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <i class="far fa-file-code fa-fw"></i>
            </div>
            <div class="flex-grow-1 mx-2">
              <code>{{ ($file) }}</code>
            </div>
            <div class="flex-shrink-0">
              <ul class="list-inline mb-0">
                <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "sc.file.copy") }}'>
                  <a class="text-body" href="#"
                     data-fn="clipboard preventDefault" data-clipboard-target="#{{ ($cp) }}"
                     role="button" aria-label='{{ (i18n "sc.file.copy") }}'>
                    <i class="fas fa-copy fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "sc.file.download") }}'>
                  <a class="text-body" href="{{ ($file) }}" download
                     role="button" aria-label='{{ (i18n "sc.file.download") }}'>
                    <i class="fas fa-download fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "sc.file.link") }}'>
                  <a class="text-body" href="{{ ($file) }}" target="_blank"
                     role="button" aria-label='{{ (i18n "sc.file.link") }}'>
                    <i class="fas fa-arrow-up-right-from-square fa-fw"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
          {{ $file = (path.Join ("content") (.Page.File.Lang) (.Page.File.Dir) ($file)) }}
          {{ if (eq (($lang) | len) 0) }}
              {{ $lang = ((replace (path.Ext ($file)) "." "") | default "text") }}
          {{ end }}
        <div class="card-body" id="{{ ($cp) }}">{{ (highlight ((readFile ($file)) | chomp) ($lang)) }}</div>
      </div>
    </div>

{{- else -}}

    {{ (partial "alerts/no_params" .) }}

{{- end -}}
