{{- if (.Get 0) -}}

    {{ $file := (.Get 0) }}
    {{ $lang := (.Get 1) }}

    {{ $ts := (now.Unix) }}
    {{ $headers := (dict
    "User-Agent" (site.Params.api.user_agent)
    "Authorization" (printf "Bearer %s" ((site.Params.api.github.token) | base64Decode))
    ) }}
    {{ $api := "https://api.github.com" }}

    {{ $data := (newScratch) }}
    {{ range ((split $file "/") | first 2) }}{{ ($data.Add "repo" (slice .)) }}{{ end }}
    {{ range ((split $file "/") | after 2) }}{{ ($data.Add "path" (slice .)) }}{{ end }}
    {{ $file = (getJSON ($api) "/repos/" (delimit ($data.Get "repo") "/") "/contents/" (delimit ($data.Get "path") "/") "?ts=" ($ts) ($headers)) }}
    {{ $id := (printf "sc-%s-%s" ($.Name) (delimit (shuffle (seq 999)) "" | md5)) }}

    <div class="shortcode shortcode-{{ ($.Name) }} mb-3">
      <div class="card overflow-hidden">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <i class="fab fa-github fa-fw"></i>
            </div>
            <div class="flex-grow-1 mx-2">
              <code>{{ ($file.path) }}</code>
            </div>
            <div class="flex-shrink-0">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <code>{{ (div ($file.size) 1000) }} KB</code>
                </li>
                <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "sc.github.file.copy") }}'>
                  <a class="text-muted" href="#"
                     data-fn="clipboard preventDefault" data-clipboard-target="#{{ ($id) }}"
                     role="button">
                    <i class="fas fa-copy fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "sc.github.file.download") }}'>
                  <a class="text-muted" href="{{ ($file.download_url) }}"
                     target="_blank" rel="noopener nofollow"
                     role="button">
                    <i class="fas fa-download fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "sc.github.file.link") }}'>
                  <a class="text-muted" href="{{ ($file.html_url) }}"
                     target="_blank" rel="noopener nofollow"
                     role="button">
                    <i class="fas fa-arrow-up-right-from-square fa-fw"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body" id="{{ ($id) }}">
            {{ (highlight (($file.content) | base64Decode) ($lang)) }}
        </div>
      </div>
    </div>

{{- else -}}

    {{ (partial "alerts/no_params" .) }}

{{- end -}}
