{{- /*
*/ -}}

{{- if (.Get 0) -}}

    {{ $repos := (split (.Get 0) "|") }}

    <div class="shortcode shortcode-{{ ($.Name) }} mb-3">
      <div class="row row-cols-1 row-cols-lg-2 g-3">
          {{ range ($repos) }}
            <div class="col gh-repo" data-repos="{{ . }}">
              <div class="card">
                <div class="row g-0">
                  <div class="col-md-4 p-1">
                    <a class="d-block gh-repo-avatar"
                       href="https://github.com/{{ . }}" target="_blank"
                       rel="noopener noreferrer nofollow">
                      <img class="card-img gh-repo-avatar"
                           src="https://github.com/identicons/{{ index (split . "/") 0 }}.png"
                           alt="{{ . }}" loading="lazy"/>
                    </a>
                  </div>
                  <div class="col">
                    <div class="card-body h-100">
                      <div class="d-flex flex-column h-100">
                        <div class="flex-shrink-0">
                          <h5 class="card-title">
                            <a class="gh-repo-name"
                               href="https://github.com/{{ . }}" target="_blank"
                               rel="noopener noreferrer nofollow">{{ . }}</a>
                          </h5>
                          <h6 class="card-subtitle mb-2 text-body-secondary gh-repo-owner"></h6>
                          <p class="card-text gh-repo-description"></p>
                        </div>
                        <div class="mt-auto">
                          <div class="row row-cols-auto g-2 mt-3">
                            <div class="col">
                              <div class="btn btn-light btn-sm"
                                   data-bs-tooltip data-bs-title='{{ (i18n "sc.github.repo.language") }}'>
                                <i class="fas fa-code fa-fw me-1"></i>
                                <span class="gh-repo-language">#</span>
                              </div>
                            </div>
                            <div class="col">
                              <div class="btn btn-light btn-sm"
                                   data-bs-tooltip data-bs-title='{{ (i18n "sc.github.repo.subscribers") }}'>
                                <i class="fas fa-eye fa-fw me-1"></i>
                                <span class="gh-repo-subscribers">#</span>
                              </div>
                            </div>
                            <div class="col">
                              <div class="btn btn-light btn-sm"
                                   data-bs-tooltip data-bs-title='{{ (i18n "sc.github.repo.stargazers") }}'>
                                <i class="fas fa-star fa-fw me-1"></i>
                                <span class="gh-repo-stars">#</span>
                              </div>
                            </div>
                            <div class="col">
                              <div class="btn btn-light btn-sm"
                                   data-bs-tooltip data-bs-title='{{ (i18n "sc.github.repo.forks") }}'>
                                <i class="fas fa-code-branch fa-fw me-1"></i>
                                <span class="gh-repo-forks">#</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
      </div>
    </div>

{{- else -}}

    {{ (partial "alerts/no_params" .) }}

{{- end -}}
