{{- /*
*/ -}}

{{- if (.Get 0) -}}

    {{ $users := (split (.Get 0) "|") }}

    <div class="shortcode shortcode-{{ ($.Name) }} mb-3">
      <div class="row row-cols-1 row-cols-lg-2 g-3">
          {{ range ($users) }}
            <div class="col gh-user" data-users="{{ . }}">
              <div class="card">
                <div class="row g-0">
                  <div class="col-md-4 p-1">
                    <a class="d-block gh-user-avatar"
                       href="https://github.com/{{ . }}" target="_blank"
                       rel="noopener noreferrer nofollow">
                      <img class="card-img gh-user-avatar"
                           src="https://github.com/identicons/{{ . }}.png"
                           alt="{{ . }}" loading="lazy"/>
                    </a>
                  </div>
                  <div class="col">
                    <div class="card-body h-100">
                      <div class="d-flex flex-column h-100">
                        <div class="flex-shrink-0">
                          <h5 class="card-title">
                            <a class="gh-user-name"
                               href="https://github.com/{{ . }}" target="_blank"
                               rel="noopener noreferrer nofollow">{{ . }}</a>
                          </h5>
                          <p class="card-text gh-user-bio"></p>
                        </div>
                        <div class="mt-auto">
                          <div class="row row-cols-auto g-2 mt-3">
                            <div class="col">
                              <div class="btn btn-light btn-sm"
                                   title='{{ (i18n "sc.github.user.repos") }}'>
                                <i class="fas fa-book fa-fw me-1"></i>
                                <span class="gh-user-repos">#</span>
                              </div>
                            </div>
                            <div class="col">
                              <div class="btn btn-light btn-sm"
                                   title='{{ (i18n "sc.github.user.followers") }}'>
                                <i class="fas fa-user-friends fa-fw me-1"></i>
                                <span class="gh-user-followers">#</span>
                              </div>
                            </div>
                            <div class="col">
                              <div class="btn btn-light btn-sm"
                                   title='{{ (i18n "sc.github.user.following") }}'>
                                <i class="fas fa-user-check fa-fw me-1"></i>
                                <span class="gh-user-following">#</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
      </div>
    </div>

{{- else -}}

    {{ (partial "alerts/no_params" .) }}

{{- end -}}
