{{- /*
DESCRIPTION:
  GitLab repository.

SYNTAX:
  {{< gl-repo "PROJECT_ID_01|PROJECT_ID_02|PROJECT_ID_03" >}}

EXAMPLE:
  {{< gl-repo "278964" >}}
*/ -}}

{{- if (.Get 0) -}}

    {{ $projects := (split (.Get 0) "|") }}

    {{ $api := (site.Params.api) }}
    {{ $ts := (now.Unix) }}
    {{ $headers := (dict
    "User-Agent" ($api.user_agent)
    "Authorization" (printf "Bearer %s" (($api.gitlab.token) | base64Decode))
    ) }}

    <div class="shortcode shortcode-{{ ($.Name) }} mb-3">
      <div class="row row-cols-1 row-cols-lg-2 g-3">

          {{ range ($projects) }}

              {{ $project := (getJSON ($api.gitlab.url) "/projects/" . "?license=1&ts=" ($ts) ($headers)) }}

              <div class="col">
                <div class="card">
                  <div class="row g-0">
                      {{ if (or ($project.avatar_url) ($project.namespace.avatar_url)) }}
                        <div class="col-md-4 p-1">
                          <a class="d-inline-block" href="{{ ($project.web_url) }}" target="_blank" rel="noopener nofollow">
                            <img class="card-img"
                                 src="{{ (($project.avatar_url) | default (printf "https://gitlab.com%s" ($project.namespace.avatar_url))) }}"
                                 alt="{{ (($project.name) | default ($project.path)) }}" loading="lazy"/>
                          </a>
                        </div>
                      {{ end }}
                    <div class="col">
                      <div class="card-body h-100">
                        <div class="d-flex flex-column h-100">
                          <div class="flex-shrink-0">
                            <h5 class="card-title">
                              <a href="{{ ($project.web_url) }}" target="_blank" rel="noopener nofollow">
                                  {{ (($project.name) | default ($project.path)) }}
                              </a>
                            </h5>
                              {{ if ($project.owner.name) }}
                                <h6 class="card-subtitle mb-2 text-body-secondary">
                                    {{ . }}
                                </h6>
                              {{ end }}
                              {{ if ($project.description) }}
                                <p class="card-text">{{ (. | plainify) }}</p>
                              {{ end }}
                          </div>
                          <div class="mt-auto">
                            <div class="row row-cols-auto g-2 mt-3">
                              <div class="col" data-bs-tooltip data-bs-title='{{ (i18n "sc.gitlab.repo.issues") }}'>
                                <a class="btn btn-light btn-sm text-body-secondary" href="{{ ($project.web_url) }}/-/issues"
                                   target="_blank" rel="noopener nofollow"
                                   role="button" aria-label='{{ (i18n "sc.gitlab.repo.issues") }}'>
                                  <i class="fas fa-info-circle fa-fw me-1"></i>
                                    {{ ($project.open_issues_count) }}
                                </a>
                              </div>
                              <div class="col" data-bs-tooltip data-bs-title='{{ (i18n "sc.gitlab.repo.starrers") }}'>
                                <a class="btn btn-light btn-sm text-body-secondary" href="{{ ($project.web_url) }}/-/starrers"
                                   target="_blank" rel="noopener nofollow"
                                   role="button" aria-label='{{ (i18n "sc.gitlab.repo.starrers") }}'>
                                  <i class="fas fa-star fa-fw me-1"></i>
                                    {{ ($project.star_count) }}
                                </a>
                              </div>
                              <div class="col" data-bs-tooltip data-bs-title='{{ (i18n "sc.gitlab.repo.forks") }}'>
                                <a class="btn btn-light btn-sm text-body-secondary" href="{{ ($project.web_url) }}/-/forks"
                                   target="_blank" rel="noopener nofollow"
                                   role="button" aria-label='{{ (i18n "sc.gitlab.repo.forks") }}'>
                                  <i class="fas fa-code-branch fa-fw me-1"></i>
                                    {{ ($project.forks_count) }}
                                </a>
                              </div>
                                {{ if ($project.license_url) }}
                                  <div class="col" data-bs-tooltip data-bs-title='{{ (i18n "sc.gitlab.repo.license") }}'>
                                    <a class="btn btn-light btn-sm text-body-secondary" href="{{ $project.license.html_url }}"
                                       target="_blank" rel="noopener nofollow"
                                       role="button" aria-label='{{ (i18n "sc.gitlab.repo.license") }}'>
                                      <i class="fas fa-copyright fa-fw me-1"></i>
                                        {{ (($project.license.key) | upper) }}
                                    </a>
                                  </div>
                                {{ end }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          {{ end }}

      </div>
    </div>

{{- else -}}

    {{ (partial "alerts/no_params" .) }}

{{- end -}}
