{{- /*
DESCRIPTION:
  Inserting image from Imgur.

SYNTAX:
  {{<imgur id="IMAGE_ID.EXT" size="[s|m|l]" caption="TEXT" align="[left|right]">}}

EXAMPLE:
  {{<imgur id="Yhim15t.jpeg">}}
*/ -}}

{{- if (.IsNamedParams) -}}

    {{ $file := (.Get "id") }}
    {{ $size := (.Get "size") }}
    {{ $caption := ((.Get "caption") | plainify) }}
    {{ $align := (.Get "align") }}

    {{ $img := (replace ($file) (path.Ext ($file)) (print $size (path.Ext ($file)))) }}

    {{ if (eq ($align) "right") }}{{ $align = "float-end ms-3" }}{{ end }}
    {{ if (eq ($align) "left") }}{{ $align = "float-start me-3" }}{{ end }}
    {{ if (eq ($align) "center") }}{{ $align = "d-flex justify-content-center" }}{{ end }}

    {{ $class := "img-fluid rounded" }}
    {{ with $size }}{{ $class = "img-fluid img-thumbnail" }}{{ end }}

    <div class="shortcode shortcode-{{ ($.Name) }} {{ ($align) }}">
      <figure class="figure">
        <a title="{{ ($caption) }}" class="d-inline-block" href="https://i.imgur.com/{{ ($file) }}"
           rel="noopener nofollow" data-fancybox="gallery" data-caption="{{ ($caption) }}">
          <img class="figure-img {{ ($class) }}" src="https://i.imgur.com/{{ ($img) }}" alt="{{ ($img) }}" loading="lazy"/>
        </a>
          {{ with ($caption) }}
            <figcaption class="figure-caption">{{ . }}</figcaption>
          {{ end }}
      </figure>
    </div>

{{- else -}}

    {{ (partial "alerts/no_params" .) }}

{{- end -}}
