{{ $title := ((.Get 0) | default "Spoiler") }}
{{ $type := ((.Get 1) | default "primary") }}

{{ $id := (printf "sc-%s" ((delimit (shuffle (seq 11 99)) "") | md5)) }}

<div class="shortcode shortcode-{{ ($.Name) }}">
  <p>
    <a class="btn btn-{{ ($type) }} is-label" href="#" role="button" tabindex="0"
       data-bs-toggle="collapse" data-bs-target="#{{ ($id) }}"
       aria-label="{{ ($title) }}">
      <span>{{ ($title) }}</span>
    </a>
  </p>
  <div class="collapse" id="{{ ($id) }}">
    <div class="card card-body mb-3">
        {{ with (.Inner) }}{{ (. | $.Page.RenderString (dict "display" "block")) }}{{ end }}
    </div>
  </div>
</div>
